* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

/* Header Section Styles*/

header {
    margin: 1rem;
}

#search-input{
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 1rem;
}

/* Main Page Section Styles*/

.container img {
    padding-bottom: 15px;
    transition: 1s;
    width: 250px;
    margin: 0 auto;
    display: block;
}

.container img:hover {
    transform: scale(1.1);
}




